---
# 7.Categorical Features Exercise

---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Exercise_1 : LabelEncoder、OneHotEncoderをインポートしてください

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>from sklearn.preprocessing import LabelEncoder</code><br>
    <code>from sklearn.preprocessing import OneHotEncoder</code><br>
</details>

Exercise_2:Seabornのデータセットから'diamonds'をデータフレームdfとして読み込んでください。その際に利用するカラムを['cut', 'color', 'clarity']としてください。　ヒント　usecolsを使う

In [5]:
df = sns.load_dataset('diamonds', usecols=['cut', 'color', 'clarity'])

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = sns.load_dataset('diamonds', usecols=['cut', 'color', 'clarity'])</code><br>
</details>

In [6]:
# 実行して表示
df.head()

       cut color clarity
0    Ideal     E     SI2
1  Premium     E     SI1
2     Good     E     VS1
3  Premium     I     VS2
4     Good     J     SI2

In [9]:
df.shape

(53940, 3)

In [7]:
# 実行して表示
df['clarity'].value_counts()

SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64

Exercise_3 :'clarity'の各要素の文字列の最後の一文字を削除してください（SI1 => SI, VS2 => VSなど。練習用に分類数を少なくするために）。

In [11]:
df['clarity'] = df['clarity'].str[:1]

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['clality'] = df['clarity'].str[:-1]</code><br>
</details>

In [12]:
# 実行して表示
df['clarity'].value_counts()

V    29150
S    22259
I     2531
Name: clarity, dtype: int64

Exercise_4 :'color'も分類が多いため、'D', 'E', 'F', 'G'の値を np.nan に置換してください。（練習用に分類数を少なくするために）。　ヒント　.loc, .isinを利用

In [13]:
df['color'].value_counts()

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [14]:
df.loc[df['color'].isin(list('DEFG')), 'color'] = np.nan

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.loc[df['color'].isin(list('DEFG')), 'color' ] = np.nan</code><br>
</details>

In [15]:
# 実行して表示
df['color'].value_counts()

H    8304
I    5422
J    2808
D       0
E       0
F       0
G       0
Name: color, dtype: int64

Exercise_5 :上記で'D', 'E', 'F', 'G'が value として残っている原因はデータタイプにあります。データタイプを確認して、'D', 'E', 'F', 'G'のカラムを削除してください。

In [16]:
# データタイプを確認してください
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cut      53940 non-null  category
 1   color    16534 non-null  category
 2   clarity  53940 non-null  object
dtypes: category(2), object(1)
memory usage: 527.4+ KB

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.info()</code><br>
</details>

In [17]:
# 'cut', 'color'のデータタイプを変更してください
df['cut'] = df['cut'].astype(object)
df['color'] = df['color'].astype(object)

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['cut'] = df['cut'].astype(object)</code><br>
    <code>df['color'] = df['color'].astype(object)</code><br>
</details>

In [18]:
# 実行して表示。データタイプが変更されていることを確認
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cut      53940 non-null  object
 1   color    16534 non-null  object
 2   clarity  53940 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [19]:
# 実行してください
# 他のカラムにも np.nan を配置しておきます。'I', 'Fair'を選択したことに特別な意味はありません。
df.loc[df['clarity'] == 'I', 'clarity'] = np.nan
df.loc[df['cut'] == 'Fair', 'cut'] = np.nan

In [20]:
# 実行して表示
df.head()

       cut color clarity
0    Ideal   NaN       S
1  Premium   NaN       S
2     Good   NaN       V
3  Premium     I       V
4     Good     J       S

Exercise_6 :LabelEncoderを使って'cut'カラムを数値ラベルに変換してください

In [21]:
# インスタンスの作成
label_encoder = LabelEncoder()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>label_encoder = LabelEncoder()</code><br>
</details>

In [22]:
# フィット
label_encoder.fit(df['cut'])

LabelEncoder()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>label_encoder.fit(df['cut'])</code><br>
</details>

In [23]:
# 変換したデータを新しいカラム'class'に代入
df['class'] = label_encoder.transform(df['cut'])

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['class'] = label_encoder.transform(df['cut'])</code><br>
</details>

In [24]:
#実行して表示
df.head()

       cut color clarity  class
0    Ideal   NaN       S      1
1  Premium   NaN       S      2
2     Good   NaN       V      0
3  Premium     I       V      2
4     Good     J       S      0

Exercise_7 :label_encoderが学習し、記憶しているクラス('Good', 'Very Good'など)の一覧を表示してください

In [25]:
label_encoder.classes_
# アルファベット順になることに注意してください。

array(['Good', 'Ideal', 'Premium', 'Very Good', nan], dtype=object)

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>label_encoder.classes_</code><br>
</details>

Exercise_8 :label_encoderで[0, 2, 4]を逆変換し、その結果を表示してください

In [26]:
label_encoder.inverse_transform([0, 2, 4])

array(['Good', 'Premium', nan], dtype=object)

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>label_encoder.inverse_transform([0, 2, 4])</code><br>
</details>

Exercise_9 :Pandasのget_dummies()を用いて np.nan であることも分かるようにカラム'color'をダミー変数化し、df_cdを作成してください

In [30]:
df_cd = pd.get_dummies(df, columns=['color'], dummy_na=True)

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_cd = pd.get_dummies(df, columns=['color'], dummy_na=True)</code><br>
</details>

In [31]:
# 実行して表示
df_cd.head()

       cut clarity  class  color_H  color_I  color_J  color_nan
0    Ideal       S      1        0        0        0          1
1  Premium       S      2        0        0        0          1
2     Good       V      0        0        0        0          1
3  Premium       V      2        0        1        0          0
4     Good       S      0        0        0        1          0

Exercise_10 :同様にPandasのget_dummies()を用いて np.nan であることも分かるようにカラム'color'をダミー変数化しますが、その際に先頭の'color_H'は余分な情報となっていますので、それを削除してdfを上書きしてください

In [32]:
df = pd.get_dummies(df, columns=['color'], drop_first=True, dummy_na=True)

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = pd.get_dummies(df, columns=['color'], dummy_na=True, drop_first=True))</code><br>
</details>

In [33]:
# 実行して表示
df.head()

       cut clarity  class  color_I  color_J  color_nan
0    Ideal       S      1        0        0          1
1  Premium       S      2        0        0          1
2     Good       V      0        0        0          1
3  Premium       V      2        1        0          0
4     Good       S      0        0        1          0

Exercise_11 :現在のdfから'color'が'H'であるレコード（I, J, nanがすべて0）を抽出し、先頭5行を表示してください（'H'が確かに区別されることを確認するため）

In [40]:
# 様々な方法があります。解答は一例です
df[(df['color_I']==0) & (df['color_J']==0) & (df['color_nan']==0)].head()
# 7, 9, 22, 37, 44ならばOK

          cut clarity  class  color_I  color_J  color_nan
7   Very Good       S      3        0        0          0
9   Very Good       V      3        0        0          0
22  Very Good       V      3        0        0          0
37       Good       S      0        0        0          0
44       Good       S      0        0        0          0

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df[df.iloc[:, 3:6].sum(axis=1) == 0].head()</code><br>
</details>

In [53]:
# 実行して表示。handle_unknownの使用方法を確認するために以下で新規のDataFrameを作成します
df.iloc[5:15, :2]

          cut clarity
5   Very Good       V
6   Very Good       V
7   Very Good       S
8         NaN       V
9   Very Good       V
10       Good       S
11      Ideal       V
12    Premium       S
13      Ideal       S
14    Premium       S

In [54]:
# 実行して表示
# df_train, df_testを新規作成します
df_train = df.iloc[5:12, :2]
df_test = df.iloc[12:16, :2]
df_train

          cut clarity
5   Very Good       V
6   Very Good       V
7   Very Good       S
8         NaN       V
9   Very Good       V
10       Good       S
11      Ideal       V

In [55]:
# 実行して表示
df_test
# df_testの'cut'にはdf_trainには存在しない'Premium'が含まれており、
# 同様に'clarity'にはNaNが含まれています

        cut clarity
12  Premium       S
13    Ideal       S
14  Premium       S
15  Premium     NaN

Exercise_12 :OneHotEncoderを用いてdf_trainをダミー変数化してください。

In [56]:
# インスタンス作成
onehot_encoder = OneHotEncoder()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>onehot_encoder = OneHotEncoder()</code><br>
</details>

In [57]:
# トレインデータのフィットと変換を同時に実行
onehot_encoder.fit_transform(df_train)

<7x6 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>onehot_encoder.fit_transform(df_train)</code><br>
</details>

In [58]:
# アレイに変換
arr_train = onehot_encoder.fit_transform(df_train).toarray()
arr_train
# 'cut'に4列、'clarity'に3列

array([[0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 1., 0.],
       [0., 0., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 1.]])

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>arr = onehot_encoder.fit_transform(df_train).toarray()</code><br>
</details>

Exercise_13 :arr のそれぞれの列が表すカテゴリを確認してください

In [59]:
# 実行して表示
arr_train.shape

(7, 6)

In [60]:
# カテゴリー名を表示してください
onehot_encoder.categories_

[array(['Good', 'Ideal', 'Very Good', nan], dtype=object),
 array(['S', 'V'], dtype=object)]

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>onehot_encoder.categories_</code><br>
</details>

Exercise_14 :同様の操作を drop='first' を設定して行ってください

In [64]:
# インスタンス作成
onehot_encoder_drop = OneHotEncoder(drop='first')

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>onehot_encoder_drop = OneHotEncoder(drop='first') </code><br>
</details>

In [66]:
# トレインデータのフィットと変換
onehot_encoder_drop.fit_transform(df_train)

<7x4 sparse matrix of type '<class 'numpy.float64'>'
	with 11 stored elements in Compressed Sparse Row format>

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>onehot_encoder_drop.fit_transform(df_train)</code><br>
</details>

In [67]:
# アレイに変換
arr_train_drop = onehot_encoder_drop.fit_transform(df_train).toarray()
arr_train_drop

array([[0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 1.],
       [0., 1., 0., 1.],
       [0., 0., 0., 0.],
       [1., 0., 0., 1.]])

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>arr_train_drop = onehot_encoder_drop.fit_transform(df_train).toarray()</code><br>
</details>

In [69]:
# 実行して表示
arr_train_drop.shape

(7, 4)

In [70]:
# 実行して表示。上記で列数が 5 に変化していますが全カテゴリが記憶されています
onehot_encoder_drop.categories_
# ドロップされたカテゴリはそれぞれの先頭の'Good'と'SI'です

[array(['Good', 'Ideal', 'Very Good', nan], dtype=object),
 array(['S', 'V'], dtype=object)]

Exercise_15 :onehot_encoder_dropを用いてdf_testを変換してください。df_trainにはない'Premium'が存在するため、ERRORが発生します。

In [72]:
arr_test = onehot_encoder_drop.transform(df_test)
arr_test
# ValueError: Found unknown categories ['Premium'] in column 0 during transform

ValueError: Found unknown categories ['Premium'] in column 0 during transform

In [73]:
# 実行して表示。パラメーター'handle_unknow'はデフェルトで'error'に設定されています
onehot_encoder_drop.handle_unknown

'error'

Exercise_16 :handle_unknownに'ignore'を設定し、あらためてdf_trainにおいてfitを行ってください

In [75]:
# インスタンス作成
onehot_encoder = OneHotEncoder(handle_unknown='ignore')

In [78]:
# fit
onehot_encoder.fit(df_train)

OneHotEncoder(handle_unknown='ignore')

Exercise_17:上記onehot_encoderでdf_testを変換し、ERRORが発生しないこととunknownである'Premium'がすべて 0 として表現されていることを確認してください

In [79]:
# 変換してアレイに
arr_test = onehot_encoder.fit_transform(df_test)
arr_test
# 先頭の四つが'cut'を表す。すべて0はCategoriesにない未知の値

<4x4 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

## 以上